.banner {
	padding: 180px 0 266px;
	color: #fff;
}
.banner__title {
	font-family: 'Gelasio', serif;
	font-weight: 700;
	font-size: 65px;
	line-height: 78px;
	max-width: 804px;
	margin-bottom: 30px;
}
.banner__text {
	color: rgba(255, 255, 255, 0.6);
	max-width: 458px;
	margin-bottom: 40px;
}
.banner__button {
	font-size: 16px;
	line-height: 24px;
	padding: 18px 45px;
	background-color: #C9453B;
	border-radius: 5px;
}