.offers {
	text-align: center;
	margin-bottom: 140px;
}
.offers__title {
	margin-bottom: 20px;
}
.offers__text {
	max-width: 656px;
	margin: 0 auto;
	margin-bottom: 60px;
}
.slider-item {
	width: 40px;
	height: 40px;
	background-color: teal;
	margin: 0 10px;
}
.slick-track {
	margin-bottom: 50px;
}
.slick-dots li {
	width: 75px;
	height: 5px;
	border-radius: 10px;
	background-color: rgba(201, 69, 59, 0.1);
}
.slick-dots li.slick-active {
	background-color: #C9453B;
}
.slick-dots li button::before{
	content: '';
}
.slick-next {
	right: 0;
}