
.offers {
	text-align: center;
	margin-bottom: 140px;
}
.offers__title {
	margin-bottom: 20px;
}
.offers__text {
	max-width: 656px;
	margin: 0 auto;
	margin-bottom: 60px;
}
.slider-item {
	width: 40px;
	height: 40px;
	background-color: teal;
	margin: 0 10px;
}